* {
  box-sizing: border-box
  margin: auto;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  max-width: 960px
}


.header {
  background-color: rgb(41, 41, 41);
  width: 100%;
}

.logo {
  float: left;
  height: 40px;
}

.label {
  height: 40px;
}

.Button {
  margin: auto;
  background-color: lightgrey;
  display: inline-block;
  width: 100%;
}
.Button button {
  background-color: pink;
  color: grey;
}

.Button .bluebutton {
  color: blue;
}

.column1 {
  float: left;
  width: 600px;
  margin: 10px;
}

.futurecamp {
  width: 300px;
  margin: 10px;
}

.p1 {
  text-align: left;
}

.h6 {
  text-align: left;
}

.glass {
  margin: 10px;
  height: 300px;
}

.sblue {
  color: blue;
}

.Events {
  float: left;
  width: 300px;
  margin: 10px;
}

.r1 {
  margin: 5px;
}

.r2 {
  margin: 5px;
}

.r3 {
  margin: 5px;
}

.footer {
  display: block;
}
