* {
  box-sizing: border-box
  margin: auto;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}


.header {
  background-color: rgb(41, 41, 41);
  width: 100%;
}

.logo {
  float: left;
  height: 40px;
}

.label {
  height: 40px;
}
.navbar {
  color: white;
  background-color: black;
  list-style-type: none;
  width: auto;

}

.menu {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;

}
.Button {
  margin: auto;
  background-color: lightgrey;
  display: inline-block;
  width: 100%;
}
.Button button {
  background-color: pink;
  color: grey;
}

.Button .bluebutton {
  color: blue;
}

.column1 {
  float: left;
  width: 600px;
  margin: 10px;
}

.futurecamp {
  width: 300px;
  margin: 10px;
}

.p1 {
  text-align: left;
}

.h6 {
  text-align: left;
}

.glass {
  margin: 10px;
  height: 300px;
}

.sblue {
  color: blue;
}

.Events {
  float: left;
  width: 300px;
  margin: 10px;
}

.r1 {
  margin: 5px;
}

.r2 {
  margin: 5px;
}

.r3 {
  margin: 5px;
}

.column-container {
  font size: 0;
  display: inline-flex;
  }

.column1 {
  width : 66%;
}

.column2 {
  width: 30%;
}
footer {
  width:100%;
  height:60px;
  font size: 0;
}

.footbar {
  font-size: small;
  margin: 25px;
    display: inline-block;
}

.bluebox {
  background-color: blue;
  position: fixed;
  bottom: 15px;
  right: 10px;
  padding: 25px;
}

.bluetxt {
  color: white;
  margin-bottom: 6px;
}

.fa fa-envelope {
  color: red
}

.fa fa-ticket {
  color: red
}
